body
{
    margin: 0;
    font-size: 18px;
    background-color:hsl(185, 75%, 39%); 
    justify-content: center;
}


/* Sections */
.top-section
{

    position: absolute;
    bottom: 35%;
    right: 53%;
    
}

.bottom-section
{
  position: absolute;
  left: 50%;
  top: 48%;
  z-index: -1;
}

/* Card Section */

.card
{
    background-color: #fff;
    font-family: Kumbh Sans,bold;
    color: #000;
    font-weight: 400;
    text-align: center;
    margin-top: 150px;
    margin-left: 550px;
    border-radius: 20%
}

.card-header
{
    padding: 0;
    background-color:none;
}
.card-body,.card-footer
{
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.profile-pic
{
    border-radius: 50%;
    position: relative;
    border: solid 5px white;
    margin-top: -15%;
    align-items: center;
}

.age,.addr
{
    color: #a9a9a9;
}

.profile-pic-pattern
{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-title
{
    background-color: #fff;
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    width: 60%;
    top: 0;
}

.social-stats
{
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
}

.social-tags
{
    color: #a9a9a9;
    font-family: monospace;
    font-size: large;
    font-size: 9px; 
    padding-top: 5px;
    letter-spacing: 2px;
    line-height: 2.5px;
    margin: 0;
}

/* Attribution section */
.attribution{
    font-size: 12px;
    text-align: center;
    padding: 10px 50px 0 10px;
  }
  
  .attribution a {
    color: #666699;
  }
  